      <div class="card">
        <a href="/post/{{id}}">{{title}}</a>
      </div>
      <div class="meta">
        Created by {{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
      <p class="card-body">{{content}}</p>
    </article>